@import "../../variables.css";
form {
  max-width: 800px;
  margin: 1rem auto;
}
.containerBtn {
  background-color: var(--DarkBlue);
  color: var(--White) !important;
  width: 50%;
}
.containerBtn:hover {
  background-color: var(--LightBlue);
  color: var(--White) !important;
  transition: 2s;
  width: 50%;
}
.lightBtn {
  font-weight: bold;
  width: 50%;
}

.errorMsg {
  color: red !important;
}
