@import "../../variables.css";

* {
  color: var(--DarkBlue) !important;
}
.container {
  max-width: 900px;
}
.containerBtn {
  background-color: var(--DarkBlue);
  color: var(--White) !important;
}
.containerBtn:hover {
  background-color: var(--LightBlue);
}
